$font-bit: 16px;
$font-ratio: 1.5;
$font-s: $font-bit / $font-ratio;
$font-m: $font-bit;
$font-l: $font-bit * $font-ratio;
$font-xl: $font-bit * $font-ratio * $font-ratio;

$space-bit: $font-bit / 2;
$space-xs: $space-bit;
$space-s: $space-bit * 2;
$space-m: $space-bit * 3;
$space-l: $space-bit * 5;
$space-xl: $space-bit * 8;

body {
    background: oldlace;
    overflow: hidden;
}
#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}

header {
    & > h1 {
        font-size: $font-xl;
        margin-top: $space-s;
        font-weight: bold;
    }
    & > nav {
        margin: $space-xs;
        & > a {
            text-decoration: none;
        }
    }
}

main {
    overflow: auto;
    padding: 0 $space-s;
    & > h2 {
        font-size: $font-l;
        margin: $space-s 0;
        &:before {
            content: "・";
        }
    }
    p {
        line-height: 2.2em;
    }
    a {
        color: blue;
    }
}

footer {
    padding: $space-xs;
    & > p,
    small {
        font-size: $font-s;
    }
}

select,
input,
button {
    border: solid black 1px;
    padding: $space-xs/2;
}

del {
    background: rgba($color: red, $alpha: 0.5);
}
ins {
    background: rgba($color: lightgreen, $alpha: 0.5);
}
